__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
.*.env
.env
.idea/
.vscode
.coverage
*.coverage
.coverage.*
data/
*csv
*.db
scripts/
*.pkl
*.bin
.ipynb_checkpoints/

# 임시 테스트 파일
predict_test.py
