# docker
DOCKER_USER=ozcodingschool
DOCKER_REPOSITORY=ai-health

# fastapi
APP_VERSION=v1.0.0
SECRET_KEY=oz-codingschool-AI-health260127!@
COOKIE_DOMAIN=localhost

# ai-worker
AI_WORKER_VERSION=v1.0.0

# db
DB_HOST=localhost
DB_PORT=5432
DB_EXPOSE_PORT=5432
DB_USER=ozcoding
DB_PASSWORD=pw1234
DB_NAME=ai_health

# social login - kakao
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_REDIRECT_URI=http://127.0.0.1:8000/api/v1/auth/kakao/callback

# social login - naver
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_REDIRECT_URI=http://127.0.0.1:8000/api/v1/auth/naver/callback

# frontend base url (소셜 로그인 콜백 후 리다이렉트)
FRONTEND_BASE_URL=http://localhost:5173
